/* style */
* {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: white;
    background-color: darkgray;
    text-align: center;
 }

 button {
    background-color: darkgray;
    color:white;
    text-align: center;
 }

 .links {
    text-align: center;
 }

 img {
    height: auto;
    width: 500px;
 }